@import "../../../styles/vars";

.input {
  width: 100%;
  max-width: 500px;

  padding: 5px;

  font-family: inherit;
  font-size: 16px;

  border: none;
  border-bottom: 2px solid $color-black;
  outline: none;
  resize: none;

  &:focus {
    border-color: $color-primary;
  }
}

.error {
  border-color: $color-danger;
}

.fullwidth {
  max-width: 100%;
}