@import "../../styles/vars";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.mdEditor {
  width: 100%;
  max-width: 500px;
}

.inputs {
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}